@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #131313;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  min-height: 110vh;
}

.hidden {
  opacity: 0;
  font-size: 1.4rem;
  filter: blur(5);
  transform: translateX(-100%);
  transition: all 3s;
}

.show {
  opacity: 1;
  font-size: 1.5rem;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  height: 150px;
  width: 150px;
  background-color: rgb(225, 225, 213, 0.5);
  border-radius: 15%;
}